---
import { Icon } from 'astro-icon/components';
---

<section class="py-8">
    <h1 class="text-5xl text-slate-700 font-['Georama'] font-bold mb-4 flex space-x-3 items-center">
        <Icon name="mingcute:book-4-fill" class="w-14 h-14" />
        <span>Travel Guides</span>
    </h1>
</section>