---
import BaseLayout from '../layouts/BaseLayout.astro';
import BaseHead from '../components/BaseHead.astro';

import Guides from '../sections/guides/Guides.astro';
import Sidebar from '../sections/sidebar/Sidebar.astro';
import Prefectures from '../sections/prefectures/Prefectures.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <BaseLayout>
        <div class="w-full px-8 flex justify-between">
            <main>
                <Guides />
            </main>
            <Sidebar />
        </div>

        <Prefectures />
    </BaseLayout>
</html>
