---
const today = new Date();
---

<footer class="pb-8 pt-32 bg-slate-700 border-t-8 border-t-pink-400">
    <div class="text-center">
        <span class="text-sm text-white">
            &copy; {today.getFullYear()} Jaunting Japan. All rights reserved.
        </span>
    </div>
</footer>
