---
const today = new Date();
---

<footer class="pb-8 pt-32 bg-pink-200">
    <div class="text-center">
        <span class="text-sm">
            &copy; {today.getFullYear()} Jaunting Japan. All rights reserved.
        </span>
    </div>
</footer>
