<div class="w-full">
    <h6 class="font-semibold text-slate-300 mb-7">Join Our Mailing List</h6>
    <p class="font-semibold text-sm text-slate-50 mb-4">
        Stay updated on the latest Japan travel tips, exclusive deals, and cultural
        insights!
    </p>

    <div class="flex space-x-4">
        <input
            class="bg-slate-300 rounded p-2 text-sm"
            type="text"
            placeholder="email@domain.com"
        />
        <button
            class="w-fit py-2 px-4 rounded font-semibold text-sm text-slate-800 transiton bg-pink-300 hover:bg-pink-400"
            >SUBSCRIBE</button
        >
    </div>
</div>
